<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
    <title><%= title %></title>
    <!-- <p style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/vote-lead-01-1520883451.jpg?crop=1xw:0.6667692307692308xh;center,top&resize=1200:*');"></p> -->
</head>
<style>
  body {
    background-image: url('https://wallpapercave.com/wp/m8wqdGZ.jpg');
    
  }
  </style>
<body >
  <div>
    <h1 style="font-size: 50px;margin-left: 500px;" >ONLINE VOTING SYSTEM</h1>
  </div>
  <div>
    <h1 style="font-size: 50px;margin-left: 500px;" >Welcome to voting app!!!</h1>
  </div>
        
    </div>
    <div style="margin-left: 500px;">
      <a href="/signup" class="btn btn-success">Sign up</a>
      <br>
      <br>
      <a href="/login" class="btn btn-success">login</a>

    </div>
</body>
</html>